{% extends 'base.html' %}
{% load static %}
{% block title %}Checkout{% endblock %}
{% block content %}
    <style>
    #id_ordered_by{
        margin-bottom: 15px;
        border: solid 1px;
        padding: 5px;
    }
    #id_shipping_address{
        margin-bottom: 15px;
        border: solid 1px;
        padding: 5px;
    }
    #id_mobile{
        margin-bottom: 15px;
        border: solid 1px;
        padding: 5px;
    }
    #id_email{
        margin-bottom: 15px;
        border: solid 1px;
        padding: 5px;
    }
   

    </style>
    <br>
</br>
<br>
</br>
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
            <div class="m-l-25 m-r--38 m-lr-0-xl">
                <div class="wrap-table-shopping-cart">
                    <table class="table-shopping-cart">
                        <tr class="table_head">
                            <th class="column-1">SN</th>
                            <th class="column-2">Product</th>
                            <th class="column-3">Price</th>
                            <th class="column-4">Quantity</th>
                            <th class="column-5">Subtotal</th>
                        </tr>
                        {% for cp in cart.cartproduct_set.all %}
                            <tr class="table_row">
                                <td class="column-1">{{ forloop.counter }}</td>
                                <td class="column-2">{{ cp.product.title }}</td>
                                <td class="column-3">Rs. {{ cp.rate }}</td>
                                <td class="column-4">{{ cp.quantity }}</td>
                                <td class="column-5">Rs. {{ cp.subtotal }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
                    <div class="flex-w flex-m m-r-20 m-tb-5">
                        <a href="{% url 'ecommerce:mycart' %}">
                            <div class="flex-c-m stext-101 cl2 size-118 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-5">Update Cart</div>
                        </a>
                    </div>
                    Total: Rs. {{ cart.total }}
                </div>
            </div>
        </div>
        <div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
            <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
                <h4 class="mtext-109 cl2 p-b-30">Enter your Details</h4>
                <div class="flex-w flex-t p-t-27 p-b-33">
                    <form action = "" method="POST" style="padding-top: 10px; margin-top 25px;">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <br />
                        <button class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer" onclick="myFunction()">Place Order</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!--===============================================================================================-->
<script>
    function myFunction() {
      alert("Order Placed!");
    }
    </script>
<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js'%}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/animsition/js/animsition.min.js'%}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/bootstrap/js/popper.js'%}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js'%}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/select2/select2.min.js'%}"></script>
<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	
</script>
<!--===============================================================================================-->
<script src="{% static 'vendor/daterangepicker/moment.min.js'%}"></script>
<script src="{% static 'vendor/daterangepicker/daterangepicker.js'%}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/slick/slick.min.js'%}"></script>
<script src="{% static 'js/slick-custom.js'%}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/parallax100/parallax100.js'%}"></script>
<script>$('.parallax100').parallax100();</script>
<!--===============================================================================================-->
<script src="{% static 'vendor/MagnificPopup/jquery.magnific-popup.min.js'%}"></script>
<script>
		$('.gallery-lb').each(function() { // the containers for all your galleries
			$(this).magnificPopup({
		        delegate: 'a', // the selector for gallery item
		        type: 'image',
		        gallery: {
		        	enabled:true
		        },
		        mainClass: 'mfp-fade'
		    });
		});
	
</script>
<!--===============================================================================================-->
{% comment %} <script src="{% static 'vendor/isotope/isotope.pkgd.min.js'%}"></script> {% endcomment %}
<!--===============================================================================================-->
<script src="{% static 'vendor/sweetalert/sweetalert.min.js'%}"></script>
<script>
		$('.js-addwish-b2').on('click', function(e){
			e.preventDefault();
		});

		$('.js-addwish-b2').each(function(){
			var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-b2');
				$(this).off('click');
			});
		});

		$('.js-addwish-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-detail');
				$(this).off('click');
			});
		});

		/*---------------------------------------------*/

		$('.js-addcart-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to cart !", "success");
			});
		});
	
	
</script>
<!--===============================================================================================-->
<script src="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.min.js'%}"></script>
<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	
</script>
<!--===============================================================================================-->
<script src="{% static 'js/main.js'%}"></script>
{% endblock %}
